<div class= "page">
    <h1>Tell Us Who You Are</h1>
    <form>
    <fieldset>
      <input name="name" type="text" placeholder="Enter Your Name" required/>
      <input type="text" placeholder="Enter Your Earth Age" />
    <select>
        <option>Select Occupation</option>
        <option *ngFor="let job of this.jobs">{{job.name}}</option>
    </select>
      <label>Action</label>
    </fieldset>
    <button routerLink="/encounters" (click)="postColonist()" type="submit"> Register</button>
  </form>
  <h1> Check in </h1>
</div>